html, body{
    height: 100%;
    max-height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #faff94;
}

.section-top{
    margin: 20px;
}
/*.navbar-static-top{*/
    /*background-color: #fff2c7;*/
/*}*/

.product-item{
    height: 215px;
    background-color: #fff9d6;
    border: 2px solid #edaff0;
    position: relative;
    padding: 5px;
    text-align: center;
}
.add-to-cart-btn{
    position: absolute;
    bottom: 15px;
    left: 50px;
}

