<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="text-center">
                   <a href="#" data-toggle="modal" data-target="#privacy_policy_modal">
                    Privacy Policy
                </a>
                </div>

                <div class="col-md-4">
                    <h3> Наша контактная информация </h3>
                    <ul>
                        <li> <a>
                        Номера мобильных телефонов для связи:
                            <p class="text-center"><span class="glyphicon glyphicon-phone"></span>+7(926)-549-77-99</p>
                            <p class="text-center"><span class="glyphicon glyphicon-phone"></span>+7(916)-228-69-69</p>
                        </a> </li>
                        <li> <a>
                        Наше местонахождение:
                            <p class="text-center"><span class="glyphicon glyphicon-globe"></span>
                        Российская Федерация, Московская обл., г. Краснознаменск, ул. Краснознаменная, д.8В</p>
                        </a> </li>
{#                        <li> <a href="#"> Lorem Ipsum </a> </li>#}
{#                        <li> <a href="#"> Lorem Ipsum </a> </li>#}
{#                        <li> <a href="#"> Lorem Ipsum </a> </li>#}
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3> Важные ссылки </h3>
                    <ul>
                        <li> <a href="https://vk.com/voodoo2017"> <i class="fa fa-vk fa-3x fa-fw"></i> мы в Вконтакте </a> </li>
                        <li> <a href="https://www.instagram.com/Voodoo_2017/"> <i class="fa fa-instagram fa-3x fa-fw"></i> мы в Инстаграме</a> </li>

                    </ul>
                </div>
                <div class="col-md-4">
                    <h3> Спектр наших услуг </h3>
                    <ul>
                        <li>Ремонт/продажа телефонов, планшетов, ноутбуков и персональных компьютеров</li>
                        <li>Сервисное обслуживание</li>
                        <li>Ремонт на дому или в сервисном центре</li>
                        <li>Аксессуары для мобильной техники всех мировых брендов</li>
                        <li>Антикризисная политика цен</li>
                    </ul>
                </div>
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </div>
    <!--/.footer-->

    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left"> Copyright © 2017, Voodoo Mobile. All rights reserved.</p>
            <p class="pull-left"> Made by Echo.</p>
            <div class="pull-right">
                <ul class="nav nav-pills payments">
                    <li><i class="fa fa-cc-visa"></i></li>
                    <li><i class="fa fa-cc-mastercard"></i></li>
                    <li><i class="fa fa-cc-amex"></i></li>
                    <li><i class="fa fa-cc-paypal"></i></li>
                </ul>
            </div>
        </div>
    </div>
    <!--/.footer-bottom-->
</footer>









{#<footer class="footer">#}
{#    <div class="container footer-container" >#}
{#        <div class="col-lg-4 offset-2">#}
{#            <u1>#}
{#                <a href="">Домой</a>#}
{#                <a href='https://vk.com/voodoo2017'><i class="fa fa-vk fa-3x fa-fw"></i></a>#}
{#            </u1>#}
{#        </div>#}
{#        <div class="col-lg-4 offset-2">#}
{##}
{#        </div>#}
{#        <div class="col-lg-4 offset-2">#}
{#            <u1>#}
{#                <li>#}
{#                    <a href="">Домой</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="">Menu</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="">Menu</a>#}
{#                </li>#}
{#            </u1>#}
{#        </div>#}
{#    </div>#}
{#</footer>#}
{#<footer class="footer">#}
{#    <div class="footer">#}
{#      <div class="container footer-container">#}
{#              <a href='https://vk.com/voodoo2017'><i class="fa fa-vk fa-3x fa-fw"></i></a>#}
{#              <a href='#'><i class="fa fa-facebook fa-3x fa-fw"></i></a>#}
{#              <a href='#'><i class="fa fa-twitter fa-3x fa-fw"></i></a>#}
{#              <a href='#'><i class="fa fa-youtube-play fa-3x fa-fw"></i></a>#}
{#              <a href='#'><i class="fa fa-rss fa-3x fa-fw"></i></a>#}
{#              <a href='#'><i class="fa fa-vine fa-3x fa-fw"></i></a>#}
{#              <a href='#'><i class="fa fa-flickr fa-3x fa-fw"></i></a>#}
{#              <a href='#'><i class="fa fa-linkedin fa-3x fa-fw"></i></a>#}
{##}
{#      </div>#}
{#    </div>    #}
{#</footer>#}